/**
 * ownCloud - News
 *
 * @author Bernhard Posselt
 * @copyright 2012 Bernhard Posselt dev@bernhard-posselt.com
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */



.add-new:hover a.opened {
	background-color: transparent !important;
}

.add-new-popup {
	display: none;
	padding: 15px 10px;
}

.add-new input[type=text] {
	width: 120px;
}

.add-new select {
	width: 133px;
	margin-top: 1px !important;
	height: 30px;
	background-color: #eee;
}

.add-new input {
	margin-top: 15px;
	box-sizing: border-box;
}

.add-new input, 
.add-new select {
	margin: 0 0 5px 0;
	display: inline-block;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.add-new button {
	margin: 0 0 5px 0;
	display: inline-block;
	float: left;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 30px !important;
	margin-top: 1px;
}

.add-new .action-button {
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;	
}

.add-new .back-button {
	border-radius: 0;
	background-image: url('../img/delete.svg');
}

.add-new .new-button {
	border-radius: 0;
	background-image: url('../img/add.svg');
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

.add-new .create-button {
	border-radius: 0;
	background-image: url('../img/mark_read.svg');
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

.add-new .error {
	padding: 0 0 10px 0;
}