.add-new > a {
	background-image: url('%appswebroot%/news/img/add.svg');
}

.add-new:hover a.opened {
	background-color: transparent !important;
}

.add-new-popup {
	display: none;
	padding: 15px 10px;
}

.add-new input[type=text] {
	width: 120px;
}

.add-new select {
	width: 133px;
	margin-top: 1px !important;
	height: 30px;
	background-color: #eee;
}

.add-new input {
	margin-top: 15px;
	height: 16px !important;
}

.add-new input, 
.add-new select {
	margin: 0 0 5px 0;
	display: inline-block;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.add-new button {
	margin: 0 0 5px 0;
	display: inline-block;
	float: left;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 30px !important;
	margin-top: 1px;
}

.add-new .back-button {
	border-radius: 0;
	width: 30px;
	background-image: url('%webroot%/core/img/actions/delete.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.add-new .back-button:hover {
	background-image: url('%webroot%/core/img/actions/delete-hover.svg');
}