.add-new {
	overflow: hidden;
}

.add-new > a {
	background-image: url('%appswebroot%/news/img/add.svg');
}

.add-new-popup {
	-moz-transition: height 500ms ease 0s;
	-o-transition: height 500ms ease 0s;
	-webkit-transition: height 500ms ease 0s;
	-ms-transition: height 500ms ease 0s;
	transition: height 500ms ease 0s;
	height: 0;
	padding: 0 15px;
}

.add-new-popup.open {
	height: 170px;
}

.add-new-popup .personalblock:first-child legend {
	padding-top: 15px;
}

.add-new input[type=text] {
	width: 100px;
}