/**
 * ownCloud - News
 *
 * @author Bernhard Posselt
 * @copyright 2012 Bernhard Posselt nukeawhale@gmail.com
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


.starred-icon {
	background-image: url('%appswebroot%/news/img/starred.png');
}

.subscriptions-icon {
	background-image: url('%appswebroot%/news/img/rss.svg');
}

.unread > a {
	font-weight: bold;
}



#app-navigation .unread > a {
	padding-right: 32px;
}

#app-navigation .utils {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

#app-navigation .utils > * {
	float: right;
}

#app-navigation .utils button {
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	display: none;
	height: 32px;
	width: 32px;
}

#app-navigation li:hover > .utils button {
	display: block;
}


.folder {
	text-transform: uppercase;
}

.feed {
	text-transform: none;	
}

.unread-counter {
	padding: 8px 6px 8px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 9pt;
	display: none;
}


.unread .unread-counter {
	display: block;
}

.starred .unread-counter {
	font-weight: normal;
}

button.action {
	opacity: .5;
}

button.action:hover {
	opacity: 1;
}


#app-navigation li:hover > a {
	padding-right: 98px;
}

#app-navigation li:hover > .utils {
	display: block;
}

#app-navigation li:hover > .utils .unread-counter {
	padding-left: 0;
}

.delete-icon {
	background-image: url('%webroot%/core/img/actions/delete.svg');
}

.mark-read-icon {
	background-image: url('%appswebroot%/news/img/mark_read.svg');
}

.rss-icon {
	background-image: url('%appswebroot%/news/img/rss.svg');
}

#app-navigation .ui-draggable-dragging {
	width: 249px;
}

#app-navigation .multiselect {
	height:20px;
}

.progress-icon {
	background-image: url('%webroot%/core/img/loading.gif'); 
}

.problem-icon {
	background-image: url('%appswebroot%/news/img/problem.svg');
}

.failed {
	background-color: #F2FF63 !important;
	text-shadow: none !important;
	font-weight: bold;
}

	.failed a:hover,
	.failed:hover a {
		background-color: #F2FF63 !important;
	}

	.failed .message {
		font-weight: normal;
		padding: 5px 20px 5px 32px;
	}

	.folder .feed.failed .message {
		padding-left: 48px;
	}