@media (max-width: 770px) {
    #app-content .utils .date {
        display: none;
    }

    #app-shortcuts th:first-child {
        padding-left: 44px;
    }

}

@media (max-width: 600px) {
    #app-content .heading .date {
        display: none;
    }

    #app-content .heading h1 {
    	margin-right: 0;
    }

    #app-content .utils {
    	padding-right: 15px;
    }

    #app-content .article {
    	padding-right: 15px;
    	padding-left: 44px;
    }
}
