
.news_input { float:left; font-size:12px; padding:4px 2px; border:solid 1px #aacfe4; width:200px; }
.svg { border: inherit; background: inherit; }
div.add_parentfolder { position: relative; }
#file_upload_start { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; z-index:1001; width:0; height:0;}


/* feed/folder list */
#leftcontent { top: 3.5em !important; padding: 0; margin: 0; box-shadow: -3px 0px 7px rgb(0, 0, 0); }

#feeds { background: #fff; width: 19.7em; left: 12.5em; top: 3.7em; bottom:3em; position: fixed; overflow: auto; padding: 0; margin: 0 0 0 0.3em;}

li { padding: 0px !important; }
li.feed { position: relative; margin-left: 16px !important; text-align: right; border-radius: 5px; padding-left: 5px !important; background-color: rgb(255,255,255) !important; }
li.feed a { padding: 0 0 0 20px !important; overflow: hidden; text-overflow: ellipsis; text-align: left; width: 65%; }
li.feed a.nonzero { font-weight: bold; }
li.feed a.zero { font-weight: normal; }

li#selected_feed { background-color: #FF9933 !important; }
li.feed:hover { background-color: rgb(221, 221, 221) !important; }

li.collapsable_container { background-color: rgb(255,255,255) !important; margin-left: 16px; }
li.collapsable_container:hover { color: rgb(0, 0, 0) !important; background-color: rgb(255,255,255) !important; }
li.collapsable_container > ul { margin-bottom: 0.1em; }

div.collapsable { position: relative; border-radius: 5px; }
.collapsable_trigger { border: none ; margin: 0 0 0 5px; padding: 0; border-radius: 0; box-shadow: none; vertical-align: middle !important; background: url('%webroot%/core/img/places/folder.svg') no-repeat; opacity: 1; }
.collapsable_title { padding-left: 0.2em; }
div.collapsable:hover { background-color: rgb(221, 221, 221); }

.feeds_delete { position: absolute; right: 0.1em; background: url('%webroot%/core/img/actions/delete.svg') no-repeat center; display: none; padding: 0; margin: -8px 0 0 0; top: 50%; }
.feeds_edit { position: absolute; right: 1.6em; background: url('%webroot%/core/img/actions/rename.svg') no-repeat center; display: none; padding: 0; margin: -8px 0 0 0; top: 50%; }

.unreaditemcounter.nonzero { position: relative; background: #5E5E5E; border-radius: 5px; padding: 0 5px; color: white; text-align: center; margin: 0 0.3em 0 0.3em;}
.unreaditemcounter.zero { position: relative; margin: 0 0.3em 0 0; }


/* feed controls */
#addfolder { background: url('%webroot%/core/img/places/folder.svg') no-repeat left center; padding-left: 20px !important; }
#addfeed { background: url('%appswebroot%/news/img/rss.svg') no-repeat left center; padding-left: 20px !important; }

/* #feeds a { height: 23px; display: block; margin: 0 0 0 0; padding: 0 0 0 25px; } */
#bottomcontrols { padding: 0; bottom:0px; overflow:visible; height:2.8em; width: 20em; margin:0; background:#eee; border-top:1px solid #ccc; position:fixed; -moz-box-shadow: 0 -3px 3px -3px #000; -webkit-box-shadow: 0 -3px 3px -3px #000; box-shadow: 0 -3px 3px -3px #000;}
ul.controls li { float: left; }


/* item view */
#rightcontent { top: 3.5em !important; padding: 0 0 0 5px; box-sizing: border-box; -moz-box-sizing: border-box; margin-top: 3.5em;}

#rightcontent div.feed_controls { box-sizing: border-box; -moz-box-sizing: border-box; background: none repeat scroll 0 0 #FFFFFF; border-bottom: 1px solid #ccc; box-shadow: 0 3px 3px -3px #000000; text-align: right; overflow: hidden; position: fixed; left: 32.5em; right: 0; top: 3.5em; }
#rightcontent div.feed_controls div.feed_title { float: left; padding-left: 10px; }
#rightcontent div.feed_controls div.feed_title h1 { font-size: 16pt; color: #444; padding-top: .4em; }

#rightcontent ul { box-sizing: border-box; -moz-box-sizing: border-box; overflow: auto; height: 100%; }

#rightcontent div.body { padding: 15px 25px 10px 25px; }
#rightcontent div.body p { line-height: 1.5; margin: 10px 0; }
#rightcontent div.body a { color: #0000ff; text-decoration: underline; }
#rightcontent div.body ul { padding-left: 15px; list-style-type: disc; }
#rightcontent div.body ul li { cursor: default; }
#rightcontent li:active { background: none; }
#rightcontent div.body pre { padding: 5px; background-color: #dadada; border: 1px solid #ccc; }
#rightcontent div.body pre code { font-family: monospace; font-size: 14px; }

#rightcontent .title_unread h1.item_title, 
#rightcontent .title_read h1.item_title { padding: 15px 10px 10px 10px; font-size: 14pt; }

#rightcontent .title_unread h1.item_title { font-weight: bold; border-bottom: 1px solid #222; }

#rightcontent .title_unread h1.item_title a { color: #222; }

#rightcontent .title_read h1.item_title { font-weight: normal; border-bottom: 1px solid #ccc; }
#rightcontent .title_read h1.item_title a { color: #888; }

#rightcontent .title_read a:hover, #rightcontent .title_unread a:hover { text-decoration: underline; }

#rightcontent div.rightcontentmsg { padding-left: 10px; background-color: yellow; }


/* dialog/menues */
div.dialog { overflow: visible; }

#dropdownBtn { width: 20em; padding-left: 0; padding-right:20px; background: url('%webroot%/core/img/actions/triangle-s.svg') no-repeat right center; text-align: left; overflow: hidden;}
ul#dropdownmenu { left: 0em; box-shadow: 0px 0px 10px rgb(0, 0, 0); }

ul#feedfoldermenu { position:fixed; margin-left: 0; bottom: 2.8em; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; -moz-box-shadow: 0 -3px 3px -3px #000; -webkit-box-shadow: 0 -3px 3px -3px #000; box-shadow: 0 -3px 3px -3px #000;}

li.menuItem { margin-left:0.7em; margin-right:0.7em; float: none !important; text-align: left; }
ul.menu { position: absolute; z-index:100; margin-left: 0.3em; display: none; background:#EEEEEE; background:-webkit-gradient(linear, 0 0, 0 100%, from(#DCDCDC), to(#EEEEEE)); background:-moz-linear-gradient(#DCDCDC, #EEEEEE); background:-o-linear-gradient(#DCDCDC, #EEEEEE); background:linear-gradient(#DCDCDC, #EEEEEE); }





