.news_input { 
    float:left; 
    font-size:12px; 
    padding:4px 2px; 
    border:solid 1px #aacfe4; 
    width:200px; 
}

.svg { 
    border: inherit; 
    background: inherit; 
}

div.add_parentfolder { 
    position: relative; 
}

#file_upload_start { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
    filter:alpha(opacity=0); 
    opacity:0; 
    z-index:1001; 
    width:0;
    height:0;
}

/**
 * when there are no feeds in the db 
 */
#firstrun { 
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -25em;
    margin-top: -10em;
    width: 50em; 
    height: 20em;
    text-align: center; 
    font-weight:bold; 
    font-size:1.5em; 
    color:#777; 
}

    #firstrun small { display: block; font-weight: normal; font-size: 0.8em; margin: .5em 0 1em 0; }
    #firstrun .button { font-size: 0.7em; }

    #firstrun #selections { 
        font-size:0.8em; 
        margin: 2em auto 2em 10em; 
        clear: both; 
    }
    
    #firstrun #selections #addfeed_dialog_firstrun, #firstrun #selections #importopml_dialog_firstrun {
	width:40em;
	border:1px solid;
	border-color: gray;
	border-radius:10px;
	-moz-border-radius:10px; /* Firefox 3.6 and earlier */
    }

/* feed/folder list */
#leftcontent_news { 
    width: 20em; 
    margin: 0; 
    height: 100%;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ccc;
    background-color: #f8f8f8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


#feed_wrapper { 
    background-color: #f8f8f8; 
    position: relative;
    top: 0;
    height: 100%;
    padding-bottom: 3em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#feeds {
    height: 100%;
    overflow: auto;
}

    #feeds .unread_items_counter {
        display: none;
    }

    #feeds > ul {
        height: 100%;
        overflow-x: hidden;
    }

    .dnd_over {
        -moz-transition: padding-bottom 500ms ease 0s;
        transition: padding-bottom 500ms ease 0s;         
    }
    
    #feeds > ul.dnd_over {

    }
    .dnd_over > ul {
        -moz-transition: padding-bottom 500ms ease 0s;
        transition: padding-bottom 500ms ease 0s;
        padding-bottom: 2.5em! important;

    }
    #feeds > ul ul.dnd_over {
        -moz-transition: padding-bottom 500ms ease 0s;
        transition: padding-bottom 500ms ease 0s;
        padding-bottom: 2.5em !important;
    }    

    .all_read {
        font-weight: normal !important;
    }


    #feeds .buttons {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
    }

        #feeds .buttons button {
            margin: .65em .3em 0 0;
            background-position: center;
            background-repeat: no-repeat;
        }

        #feeds li:hover > .buttons {
            display: block;
        }

        #feeds .buttons button.feeds_delete {
            background-image: url('%webroot%/core/img/actions/delete.svg'); 
        }

        #feeds .buttons button.feeds_edit {
            background-image: url('%webroot%/core/img/actions/rename.svg'); 
        }

        #feeds .buttons button.feeds_markread {
            background-image: url('%appswebroot%/news/img/mark_read.svg'); 
        }

    #feeds button.collapsable_trigger {
        position: absolute;
        left: .5em;
        top: .4em;
        background: none;
        background-image: url('%webroot%/core/img/actions/triangle-s.svg'); 
        border: none;
        border-radius: 0;
        outline: none !important;
        box-shadow: none;
        -moz-box-shadow: none;
        display: none;
    }

    #feeds button.collapsable_trigger.triggered {
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

        #feeds .folder.collapsable:hover button.collapsable_trigger {
            display: block;
        }

    #feeds li {
        border-bottom: 1px solid #bbb;
        padding: 0 .5em;
        background-color: #dfdfdf;
        font-weight: bold ;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        position: relative;
    }

    #feeds li.active { 
        background-color: #FF9933 !important;
        font-style: oblique;
    }

        #feeds li a.title {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            padding-left: 2em;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: .2em center;
            line-height: 2.5em;
        }

            #feeds li:hover > a.title {
                width: 75%;
            }

        #feeds .starred a.title {
            background-image: url('%appswebroot%/news/img/starred.svg'); 
        }

        #feeds .subscriptions a.title {
            background-image: url('%appswebroot%/news/img/rss.svg'); 
        }

    #feeds .feed {
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    #feeds .feed:hover {
        background-color: #ddd;
    }

    #feeds .folder {
        padding: 0 .5em;
    }

        #feeds .folder:hover, #feeds .starred:hover, #feeds .subscriptions:hover {
            background-color: #d0d0d0;
        }

        #feeds .folder a.title {
            background-image: url('%webroot%/core/img/places/folder.svg');
        }

        #feeds .folder.collapsable:hover a {
            background-image: none;
        }

    #feeds .folder.collapsable.open {
        background-image: linear-gradient(bottom, rgb(208,208,208) 0%, rgb(222,222,222) 100%),
            background-image: url('%webroot%/core/img/places/folder.svg');
        background-image: -o-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(222,222,222) 100%),
            background-image: url('%webroot%/core/img/places/folder.svg');
        background-image: -moz-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(222,222,222) 100%),
            background-image: url('%webroot%/core/img/places/folder.svg');
        background-image: -webkit-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(222,222,222) 100%),
            background-image: url('%webroot%/core/img/places/folder.svg');
        background-image: -ms-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(222,222,222) 100%),
            background-image: url('%webroot%/core/img/places/folder.svg');
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
        -webkit-box-shadow: inset 0 0 5px -1px #bbb;
        box-shadow: inset 0 0 5px -1px #bbb; 
        padding-bottom: .5em;
    }

        #feeds .folder.collapsable.open ul {
            border: 1px solid #ccc;
        }

        #feeds .folder.open ul li:last-child {
            border-bottom: 0;
        }


/* feed settings */
#feed_settings { 
    padding: 0; 
    bottom: 0; 
    overflow:visible; 
    height:2.8em; 
    width: 20em; 
    margin:0; 
    z-index: 2;
    background:#eee; 
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position:fixed; 
}
    
    #feed_settings .controls {
        height: 100%;
        width: 100%;
    }

    #feed_settings .controls > li {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;

    }

    #feed_settings button {
        height: 2.4em;
        width: 2.4em;
        padding: .2em .1em 0 .1em;
        margin: .15em 0 0 .15em;
    }

        #feed_settings button img {
            border: none;
        }

    #feed_settings .controls > li:last-child button {
        margin-right: .3em;
    }

    #feed_settings #view button {
        padding-top: .2em;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

    #feed_settings #view.show_all button {
        background-image: url('%appswebroot%/news/img/eye_all.svg'); 
    }

    #feed_settings #view.show_unread button {
        background-image: url('%appswebroot%/news/img/eye_unread.svg'); 
    }

    #feed_settings #addfeedfolder {
        margin: 0 .3em .3em .3em;
    }

        #feed_settings #addfeedfolder #addfolder { 
            background: url('%webroot%/core/img/places/folder.svg') no-repeat 10px center; 
        }

        #feed_settings #addfeedfolder #addfeed { 
            background: url('%appswebroot%/news/img/rss.svg') no-repeat 10px center; 
        }

        /*
        #feed_settings #addfeedfolder:hover ul#feedfoldermenu{
            display: block;
        }*/

        #feed_settings ul#feedfoldermenu { 
            display: none;
            background:#EEEEEE; 
            background:-webkit-gradient(linear, 0 0, 0 100%, from(#DCDCDC), to(#EEEEEE)); 
            background:-moz-linear-gradient(#DCDCDC, #EEEEEE); 
            background:-o-linear-gradient(#DCDCDC, #EEEEEE); 
            background:linear-gradient(#DCDCDC, #EEEEEE); 
            position:fixed; 
            z-index: 6;
            margin-left: 0; 
            bottom: 2.8em; 
            border-left:1px solid #ccc; 
            border-top:1px solid #ccc; 
            border-right:1px solid #ccc; 
            border-bottom: 0;
            -moz-box-shadow: 0 -3px 3px -3px #000; 
            -webkit-box-shadow: 0 -3px 3px -3px #000; 
            box-shadow: 0 -3px 3px -3px #000;
        }

            #feed_settings ul#feedfoldermenu li { 
                padding: 0 1em 0 2.5em; 
                float: none !important; 
                text-align: left; 
            }

                #feed_settings ul#feedfoldermenu li:hover {
                    background-color: #ccc !important;
                }




/* item view */
#rightcontent { 
    top: 3.5em !important; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    left: 32.6em;
    overflow: hidden;
}

    /**
     * Area below the feed title and controls
     */
    #rightcontent #feed_items {
        box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        overflow: auto;
        height: 100%;
    }

        #rightcontent #feed_items.loading {
            background-image: url('%webroot%/core/img/loading.gif'); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: 
        }

        #rightcontent #feed_items li:active { 
            background: none; 
        }

        /**
         * Rules for a single feed item
         */
        .feed_item {
            border-top: 1px solid #ccc;
            min-height: 100px;
            background-image: linear-gradient(top, rgb(248,248,248) 0, rgb(255,255,255) 6em);
            background-image: -o-linear-gradient(top, rgb(248,248,248) 0, rgb(255,255,255) 6em);
            background-image: -moz-linear-gradient(top, rgb(248,248,248) 0, rgb(255,255,255) 6em);
            background-image: -webkit-linear-gradient(top, rgb(248,248,248) 0, rgb(255,255,255) 6em);
            background-image: -ms-linear-gradient(top, rgb(248,248,248) 0, rgb(255,255,255) 6em);
            padding: 2.5em 0 0 0;
	    cursor: default;
        }

        .feed_item:first-child {
            border-top: 0;
        }

            /**
             * Utils panel
             */
            .utils {
                height: 2em;
                margin: 0 0 0 1em;
                float: left;
            }

            /**
             * Primary feed utils which are always shown
             */
            .feed_item .primary_item_utils {
                float: left;
            }

                .feed_item .primary_item_utils li { 
                    display: inline-block; 
                    line-height: 1.5em;
                    font-size: 1em;
                    color: #aaa;
                    float: left;
                    margin-left: ;
                    cursor: default;
                }

                .feed_item .primary_item_utils li:first-child { margin: 0}
                .feed_item .primary_item_utils li.star { 
                    background-image: url('%appswebroot%/news/img/inactive_star.svg');
                    background-repeat: no-repeat;
                    background-size: 1.5em 1.5em;
                    width: 1.5em;
                    height: 1.5em;
                    cursor: pointer;
                }

                .feed_item .primary_item_utils li.star.important,
                .feed_item .primary_item_utils li.star:hover {
                    background-image: url('%appswebroot%/news/img/active_star.svg');
                }

            /**
             * Feed title
             */
            .feed_item h1.item_title { 
                font-size: 1.5em;
                margin: 0 13em 0 2.1em;
                font-weight: bold;
            }

                .feed_item h1.item_title a { 
                    color: #222; 
                }
                    .feed_item h1.item_title a:hover { 
                        color: #222; 
                        text-decoration: underline; 
                    }
            
            /**
             * Feed title when read
             */
            .feed_item.read h1.item_title { 
                font-weight: normal;
            }

                .feed_item.read h1.item_title a { 
                    color: #888; 
                }

            /**
             * Title of the feed to which the item belongs
             */
            .feed_item h2.item_feed_title {
                color: #aaa;
                font-size: 1.1em;
                margin-left: 3em;
            }
            
            /**
             * Author of the item
             */
            .feed_item h2.item_author {
                color: #aaa;
                font-size: 1.1em;
                margin-left: 3em;
            }

            .timestamp {
                display: none;
            }

            /**
             * Feed timestamp
             */
            .timeago {
                float: right; 
                color: #aaa;
                margin: 0 1.2em 0 0;
                font-size: 1.1em;
            }

            /**
             * Body of the feed item
             */
            .feed_item div.body { 
                overflow: hidden;
                padding: .5em 3em 0 3em; 
                max-width: 55em;
                font-size: 1.1em;
                clear: both;
            }

                .feed_item div.body p { 
                    line-height: 1.5; 
                    margin: .5em 0 1em 0;
                }

                .feed_item div.body img {
                    max-width: 55em;
                }

                .feed_item div.body h1, .feed_item div.body h2 {
                    font-size: 1.25em;
                    font-weight: bold;
                    color: #222;
                    margin: 1.5em 0 0 0;
                }

                .feed_item div.body h3 {
                    font-size: 1.1em;
                    font-weight: bold;
                    color: #222;
                    margin: 1.5em 0 0 0;
                    text-decoration: underline;
                }

                .feed_item div.body > div {
                    margin: .5em 0;
                }
                
                .feed_item div.body a { 
                    color: #0000ff; 
                    text-decoration: underline; 
                }
                
                .feed_item div.body ul { 
                    margin: .5em 0;
                    padding-left: 1em; 
                    list-style-type: disc; 
                }

                .feed_item div.body ol {
                    margin: .5em 0;
                    padding-left: 1.5em; 
                }

                    .feed_item div.body ul li { 
                        cursor: default; 
                        line-height: 1.5em;
                    }
            
                .feed_item div.body pre { 
                    padding: .5em .5em .5em 1em; 
                    background-color: #dadada; 
                    border: 1px solid #ccc; 
                    margin: .5em 0;
                    background-image: linear-gradient(top, rgb(215,215,215) 0%, rgb(220,220,220) 100%);
                    background-image: -o-linear-gradient(top, rgb(215,215,215) 0%, rgb(220,220,220) 100%);
                    background-image: -moz-linear-gradient(top, rgb(215,215,215) 0%, rgb(220,220,220) 100%);
                    background-image: -webkit-linear-gradient(top, rgb(215,215,215) 0%, rgb(220,220,220) 100%);
                    background-image: -ms-linear-gradient(top, rgb(215,215,215) 0%, rgb(220,220,220) 100%);
                    overflow-y: auto;
                }
                
                    .feed_item div.body pre code { 
                        font-family: monospace; 
                        font-size: 1.5em;
                    }
            .feed_item div.body > *:last-child {
                margin-bottom: 0;
            }

        /**
         * Line with utils at the bottom
         */        
        .bottom_utils {
            width: 100%;
            height: 2.5em;
            margin: 0;
            padding: 0;
            box-sizing: border-box; 
            -moz-box-sizing: border-box; 
        }

            /**
             * Secondary feed items which are only shown on hover
             */
            .feed_item .secondary_item_utils {
                display: none;
                color: #aaa;
                float: right;
                margin: 0 1.2em;
            }
            
            .feed_item:hover .secondary_item_utils {
                display: block;
            }

                .feed_item:hover .secondary_item_utils li.keep_unread {
                    cursor: pointer;
                   
                }

                .feed_item .secondary_item_utils li input[type=checkbox]{ 
                }

/* dialog/menues */
div.dialog { 
    overflow: visible; 
}

.ui-dialog tbody tr:hover, .ui-dialog tr:active {
    background: none !important;
}

.dropdownBtn { 
    width: 12.5em; 
    padding-left: 0; 
    padding-right:20px; 
    background: url('%webroot%/core/img/actions/triangle-s.svg') no-repeat right center; 
    text-align: left; 
    overflow: hidden;
}

ul.dropdownmenu { 
    left: 0em; 
}


ul.menu { 
    position: absolute; 
    z-index:1; 
    margin-left: 0.3em; 
    display: none; 
    background:#EEEEEE; 
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#f1f1f1)); 
    background:-moz-linear-gradient(#eee, #f1f1f1); 
    background:-o-linear-gradient(#eee, #f1f1f1); 
    background:linear-gradient(#eee, #f1f1f1); 
    border: 1px solid #ccc;
}

    ul.menu .menuItem {
        padding: 2px 5px;
        min-width: 11em;
    }

        ul.menu .menuItem:hover {
            background-color: #ddd;
        }

.popup.bottomleft {
    left: 33.3em;
    /*left: 3.8em;*/
}



