/**
 * App navigation utils, buttons and counters for drop down menu
 */
.app-navigation-entry-utils {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 105;
}

    .app-navigation-entry-utils ul {
        float: right;
        display: block !important;
    }


    .app-navigation-entry-utils li {
        float: left;
        width: 44px !important;
        height: 44px;
        line-height: 44px;
        display: none;
    }

    .active > .app-navigation-entry-utils li {
        display: inline-block;
    }

    .app-navigation-entry-utils button {
        height: 38px;
        width: 38px;
        line-height: 38px;
        float: left;
    }

    .app-navigation-entry-utils-menu-button {
        border: 0;
        opacity: .7;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/actions/more.svg');
    }

    .app-navigation-entry-utils-menu-button:hover,
    .app-navigation-entry-utils-menu-button:focus {
        background-color: transparent;
        opacity: 1;
    }

    .app-navigation-entry-utils-counter {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
        font-size: 9pt;
        width: 38px;
        line-height: 44px;
        padding: 0 10px;
    }

.app-navigation-entry-utils ul,
.app-navigation-entry-options ul {
    list-style-type: none;
}

.app-navigation-entry-options {
    display: none;
    position: absolute;
    background-color: #eee;
    color: #333;
    border-radius: 3px;
    z-index: 110;
    margin: -5px 10px;
    right: 0;
    border: 1px solid #bbb;
    -webkit-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
    -moz-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
    -ms-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
    -o-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
    filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
}

/* miraculous border arrow stuff */
.app-navigation-entry-options:after, .app-navigation-entry-options:before {
    bottom: 100%;
    right: 5px; /* change this to adjust the arrow position */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.app-navigation-entry-options:after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 10px;
    margin-left: -10px;
}
.app-navigation-entry-options:before {
    border-color: rgba(187, 187, 187, 0);
    border-bottom-color: #bbb;
    border-width: 11px;
    margin-left: -11px;
}

.app-navigation-entry-options.app-navigation-entry-options-open {
    display: block;
}

/* list of options for an entry */
.app-navigation-entry-options ul {
    display: block !important;
}

.app-navigation-entry-options li {
    float: left;
    width: 38px !important;
}

.app-navigation-entry-options li button {
    float: right;
    width: 36px !important;
    height: 36px;
    line-height: 36px;
    border: 0;
    opacity: .7;
    background-color: transparent;
}

.app-navigation-entry-options li button:hover,
.app-navigation-entry-options li button:focus {
    opacity: 1;
    background-color: transparent;
}

/* Loading sign instead of icon by adding the loading class to the list item */
