/* Feeds */
#app-navigation .add-new input,
#app-navigation .add-new select {
	width: 170px;
}

#app-navigation .ui-draggable-dragging {
	width: 299px;
}

#app-navigation .progress-icon, 
#app-navigation .problem-icon {
	width: 299px;
	line-height: 44px;
}

#app-navigation .rename-feed-icon {
	padding-right: 40px;
}

#app-navigation .mark-read-icon {
	padding-right: 40px;
}

#app-navigation li:hover > a {
	padding-right: 80px;
}

.show-all {
	line-height: 44px;
}

#app-navigation .unread > a,
#app-navigation .active > a {
	padding-right: 60px;
}

#app-navigation .active.unread > a {
	padding-right: 80px;
}

#app-navigation .active.unread:hover > a {
	padding-right: 100px;
}

#app-navigation li:hover > a {
	padding-right: 80px;
}

/* more whitespace for articles to fit design */
#app-content .feed_item {
	padding: 40px 5px 10px 5px;
}

#app-content .item_title {
	margin-bottom: 10px;
}
#app-content .item_author {
	margin-bottom: 5px;
}

#app-content .body {
	padding-top: 15px;
}

#app-content .feed_item .body > img:first-child {
	padding-right: 20px;
}

#app-content .feed_item .utils {
	margin-left: 10px;
}

