/* Feeds */
#app-navigation .utils {
	top: 7px;
	right: 7px;
}

#app-navigation .add-new input,
#app-navigation .add-new select {
	width: 170px;
}

#app-navigation .ui-draggable-dragging {
	width: 299px;
}

#app-navigation .progress-icon, 
#app-navigation .problem-icon {
	width: 299px;
	line-height: 44px;
}

.show-all {
	line-height: 44px;
}

/* more whitespace for articles to fit design */
.item_title {
	margin-bottom: 10px;
}

.item_author {
	margin-bottom: 15px;
}

.feed_item {
	padding: 35px 5px 5px 5px;
}

.feed_item .utils {
	margin-left: 10px;
}