#specific to news app
composer.phar
node_modules/
vendor/
*.log
/build/
js/
.rvm
*.clover
.phpunit.result.cache
site/
coverage

#bats
tests/api/helpers/settings-override.bash
tests/test_helper/feeds/test.xml
tests/test_helper/feeds/feed1.xml
tests/test_helper/feeds/feed2.xml

#bats
tests/api/helpers/settings-override.bash
tests/test_helper/feeds/test.xml
tests/test_helper/feeds/feed1.xml
tests/test_helper/feeds/feed2.xml

# python
PKG-INFO
*pyc
*~
__pycache__
bin/updater/dist/
bin/updater/build

# just sane ignores
.*.sw[po]
*.bak
*.BAK
*~
*.orig
*.class
.cvsignore
Thumbs.db
*.py[co]
_darcs/*
CVS/*
.svn/*
RCS/*

# kdevelop
.kdev
*.kdev4

# Lokalize
*lokalize*

# eclipse
.project
.settings

# netbeans
nbproject

# vscode
.vscode

# phpStorm
.idea

# geany
*.geany

# Cloud9IDE
.settings.xml

# vim ex mode
.vimrc

# Mac OS
.DS_Store
*.iml

# VS Code
.vscode