<dev@bernhard-posselt.com> <nukeawhale@gmail.com>
<dev@bernhard-posselt.com> <raydiation@users.noreply.github.com>
<cosenal@gmail.com> <acosenti@malutchosky.(none)>
David-Development <david-dev@live.de>
<hey@morrisjobke.de> <morris.jobke@gmail.com>
Alessandro Cosentino <cosenal@gmail.com> Alessandro <cosenal@gmail.com>
Jenkins for ownCloud <owncloud-bot@tmit.eu> Jenkins for ownCloud <thomas.mueller@tmit.eu>
Thomas Müller <thomas.mueller@tmit.eu> Thomas Mueller <thomas.mueller@tmit.eu>
bastei <bastei@users.noreply.github.com> bastei <none>
Konrad Graefe <konradgraefe@aol.com> kgraefe <konradgraefe@aol.com>
<lukas@owncloud.com> <lukas@statuscode.ch>
