<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/</directory>
            <exclude>
                <file>./lib/AppInfo/Application.php</file>
                <file>./lib/Controller/JSONHttpErrorTrait.php</file>
                <file>./lib/**Exception.php</file>
                <file>./lib/Migration/**.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./build/report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./build/coverage.xml"/>
        <log type="junit" target="./build/junit.xml"/>
    </logging>
</phpunit>
