name: PHP Tests
on:
  pull_request

jobs:
  php:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    name: "PHP: Nextcloud ${{ matrix.nextcloud }} - PHP ${{ matrix.php-versions }} - DB ${{ matrix.database }}"
    strategy:
      matrix:
        php-versions: ['8.3']
        nextcloud: ['stable31']
        database: ['sqlite']
        experimental: [false]
        include:
          - php-versions: 8.3
            nextcloud: stable31
            database: sqlite
            experimental: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2 # https://github.com/codecov/codecov-action/issues/190#issuecomment-790729633

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pdo_sqlite,pdo_mysql,pdo_pgsql,gd,zip
          coverage: pcov
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      ### Back to normal setup
      - name: Set up server non MySQL
        uses: SMillerDev/nextcloud-actions/setup-nextcloud@main
        with:
          cron: true
          version: ${{ matrix.nextcloud }}
          database-type: ${{ matrix.database }}

      - name: Prime app build
        run: make

      - name: Configure server with app
        uses: SMillerDev/nextcloud-actions/setup-nextcloud-app@main
        with:
          app: 'news'
          check-code: false

      - name: Prep PHP tests
        working-directory: ../server/apps/news
        run: make php-test-dependencies
      
      - name: Unittests
        working-directory: ../server/apps/news
        run: make unit-test
