name: Integration Tests
on:
  pull_request

env:
  POSTGRES_PASSWORD: nc_test_db
  MYSQL_USER: nc_test
  MYSQL_PASSWORD: nc_test_db
  MYSQL_DATABASE: nc_test
  MYSQL_PORT: 3800 # hardcoded at services:mariadb:ports

permissions: {}

jobs:
  integration:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    name: "Integration: Nextcloud ${{ matrix.nextcloud }} - PHP ${{ matrix.php-versions }} - DB ${{ matrix.database }}"
    permissions:
      contents: read
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432 # Maps tcp port 5432 on service container to the host
      mariadb:
        image: mariadb:10.5
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_PASSWORD }}
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}
        options: --health-cmd="mariadb-admin ping" --health-interval 5s --health-timeout 2s --health-retries 5
        ports:
          - 3800:3306/tcp
    strategy:
      matrix:
        php-versions: ['8.2', '8.3']
        nextcloud: ['stable32']
        database: ['sqlite', 'pgsql', 'mysql']
        experimental: [false]
        include:
          - php-versions: 8.3
            nextcloud: pre-release
            database: sqlite
            experimental: true
          - php-versions: 8.3
            nextcloud: pre-release
            database: sqlite
            experimental: true
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
          persist-credentials: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pdo_sqlite,pdo_mysql,pdo_pgsql,gd,zip
          coverage: none
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup BATS & httpie
        run: sudo apt-get update && sudo apt-get install -y httpie && sudo npm install -g bats@1.11.0

      ### MySQL specific setup
      - name: Set up server MySQL
        if: matrix.database == 'mysql'
        uses: SMillerDev/nextcloud-actions/setup-nextcloud@7665802e389e40d21b49877c3728bacca324d6e0 #latest
        with:
          version: ${{ matrix.nextcloud }}
          cron: true
          database-type: ${{ matrix.database }}
          database-host: 127.0.0.1
          database-port: ${{ env.MYSQL_PORT }}
          database-name: ${{ env.MYSQL_DATABASE }}
          database-user: root
          database-password: ${{ env.MYSQL_PASSWORD }}

      ### Back to normal setup
      - name: Set up server non MySQL
        if: matrix.database != 'mysql'
        uses: SMillerDev/nextcloud-actions/setup-nextcloud@7665802e389e40d21b49877c3728bacca324d6e0 #latest
        with:
          version: ${{ matrix.nextcloud }}
          cron: true
          database-type: ${{ matrix.database }}
          database-host: localhost
          database-port: 5432
          database-name: postgres
          database-user: postgres
          database-password: ${{ env.POSTGRES_PASSWORD }}

      - name: Prime app build
        run: make composer

      - name: Configure server with app
        uses: SMillerDev/nextcloud-actions/setup-nextcloud-app@7665802e389e40d21b49877c3728bacca324d6e0 #latest
        with:
          app: 'news'
          check-code: false
          force: ${{ matrix.experimental }}

      - name: Run API tests
        working-directory: ../server
        run: |
          php -S localhost:8080 &> /tmp/webserver.log &
          cd apps/news/tests/test_helper/feeds && php -S localhost:8090 &> /tmp/feedserver.log &

          sleep 2

          cd ${{ github.workspace }}/../server

          bats apps/news/tests/api

          # Kill php server
          kill %1
          kill %2

      - name: Functional tests maintenance
        working-directory: ../server
        run: |
          ./occ maintenance:repair

      - name: Functional tests
        working-directory: ../server
        run: |
          cd apps/news/tests/test_helper/feeds && php -S localhost:8090 &> /tmp/feedserver.log &

          sleep 2

          cd ${{ github.workspace }}/../server

          bats apps/news/tests/command

          kill %1

      - name: Check feeds if feeds from explore page are reachable
        working-directory: ../server/apps/news
        run: make feed-test
