name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'

permissions: {}

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout master
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@d77dd03172e96abbcdb081d8c948224762033653 # v1.26
        # Or use mhausenblas/mkdocs-deploy-gh-pages@nomaterial to build without the mkdocs-material theme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          #CUSTOM_DOMAIN: optionaldomain.com
          #CONFIG_FILE: folder/mkdocs.yml
          #EXTRA_PACKAGES: build-base
          # GITHUB_DOMAIN: github.myenterprise.com
