name: Frontend tests
on:
  pull_request

jobs:
  php:
    runs-on: ubuntu-20.04
    continue-on-error: ${{ matrix.experimental }}
    name: "Frontend: Nextcloud ${{ matrix.nextcloud }} - PHP ${{ matrix.php-versions }} - DB ${{ matrix.database }}"
    strategy:
      matrix:
        php-versions: ['8.1']
        nextcloud: ['stable26']
        database: ['sqlite']
        experimental: [false]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pdo_sqlite,pdo_mysql,pdo_pgsql,gd,zip
          coverage: none

      ### Back to normal setup
      - name: Set up server non MySQL
        uses: SMillerDev/nextcloud-actions/setup-nextcloud@main
        with:
          cron: true
          version: ${{ matrix.nextcloud }}
          database-type: ${{ matrix.database }}

      - name: Prime app build
        run: make

      - name: Configure server with app
        uses: SMillerDev/nextcloud-actions/setup-nextcloud-app@main
        with:
          app: 'news'
          check-code: false

      - name: Install frontend requirements
        run: sudo apt update && sudo apt install firefox
      - name: Run frontend tests
        run: cd ../server/apps/news && make js-test
