name: Lint

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  eslint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    name: eslint node${{ matrix.node-versions }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.2

      - name: Set up node ${{ matrix.node-versions }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-versions }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  stylelint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    name: stylelint node${{ matrix.node-versions }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.2

      - name: Set up node ${{ matrix.node-versions }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-versions }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run stylelint
