name: Lint stylelint

on:
  pull_request:
  push:
    branches:
      - master

permissions: {}

jobs:
  stylelint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    name: stylelint
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@06d6baf7d8f41934ab630e97d9e6c0bc9c9ac5e4 # v3
        id: versions
        with:
          fallbackNode: '^20'
          fallbackNpm: '^10'

      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ steps.versions.outputs.nodeVersion }}

      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        env:
          NPM_VERSION: ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g "npm@${NPM_VERSION}"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run stylelint
