name: Post-merge tasks
on:
  push:
    branches:
      - master
jobs:
  php:
    runs-on: ubuntu-latest
    continue-on-error: false
    name: "Coverage: Nextcloud ${{ matrix.nextcloud }} PHP ${{ matrix.php-version }}"
    strategy:
      matrix:
        php-version: ["8.3"]
        nextcloud: ['stable29']
        codecoverage: [true]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      ### Back to normal setup
      - name: Set up server non MySQL
        uses: SMillerDev/nextcloud-actions/setup-nextcloud@main
        with:
          cron: true
          version: ${{ matrix.nextcloud }}
          database-type: sqlite

      - name: Prime app build
        run: make

      - name: Configure server with app
        uses: SMillerDev/nextcloud-actions/setup-nextcloud-app@main
        with:
          app: 'news'
          check-code: false

      - name: Prep PHP tests
        run: cd ../server/apps/news && make php-test-dependencies

      - name: Unittests
        run: cd ../server/apps/news && make unit-test
        env:
          CODECOVERAGE: ${{ matrix.codecoverage }}

      - name: Upload codecoverage
        run: cd ../server/apps/news && bash <(curl -s https://codecov.io/bash) -f build/php-unit.clover
